<!-- let django know we want to use the base Drugquery template for this page -->
{% extends 'drugquery/base.html' %}
{% block title %}Compound Details{% endblock %}

<!-- this tag specifies what to insert into base.html -->
{% block body %}

    <div class="container">
        <div class="row">
            <br>

            <div style='height:400px; width:600px' class='viewer_3Dmoljs'
                 data-href="{{ compound.compound_sdf_file.url }}" data-backgroundcolor='0xffffff'
                 data-style='stick'></div>
            <br><div style="margin:0 auto; width:30%">
            </div>

            <h1>{{ compound.get_name }}</h1>
            <h5>{{ compound.smiles }}</h5>
            <h5><form method="get" action="{% url 'drugquery:search_compounds' %}">
                <button class="btn btn-default btn-xs" name="smiles_query" type="submit" value="{{ compound.smiles }}">
                    <span class="glyphicon glyphicon-search"></span> Search DrugQuery for similar compounds
                </button>
            </form></h5>

            <h5><form action="{% url 'drugquery:download_structure' compound.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-default btn-xs" type="submit">
                    <span class="glyphicon glyphicon-download"></span>  Download SDF structure
                </button>
            </form></h5>
        </div>

        <div class="row">
            <h2>Docking Summary</h2>

            <h4>Current docking status:
                <span class="text-muted", style="padding-left:2em">
                    {{ compound.get_docking_status }}
                </span><br>
            </h4>
            <h4>No. missing dockings:
                <span class="text-muted", style="padding-left:2.6em">
                    {{ compound.get_num_undocked_pockets }}
                </span><br>
            </h4>

            {% if compound.score_file %}
                <h5><form action="{% url 'drugquery:download_scores' compound.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button class="btn btn-default btn-xs" type="submit" class="btn">
                        <span class="glyphicon glyphicon-download"></span>  Download docking scores
                    </button>
                </form></h5>
            {% endif %}

            {% if compound.get_docking_status == 'Idle' %}
                {% if compound.get_num_undocked_pockets > 0 %}
                    <h5><form action="{% url 'drugquery:redock_cpd' compound.pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="btn btn-default btn-xs" type="submit" class="btn">
                            <span class="glyphicon glyphicon-upload"></span>  Dock to missing targets
                        </button>
                    </form></h5>
                {% endif %}
            {% endif %}


            <!-- Summary Table -->
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Proteins Docked</th>
                        <th>PDBs Docked</th>
                        <th>Binding Sites Docked</th>
                        <th>Predicted Target</th>
                        <th>PDB ID</th>
                        <th>Chain</th>
                        <th>Binding Site</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ compound.num_docked_genes }}</td>
                        <td>{{ compound.num_docked_pdbs }}</td>
                        <td>{{ compound.num_docked_pockets }}</td>
                        <td>{{ compound.best_gene.name }}</td>
                        <td>{{ compound.best_pdb.pdb_id }}</td>
                        <td>{{ compound.best_target.chain }}</td>
                        <td>{{ compound.best_pocket.pocket_number }}</td>
                        <td>{{ compound.best_docking.top_score }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <h2>Top 100 Predicted Targets</h2>

            {% if predicted_targets.any %}


                <h5><form action="{% url 'drugquery:download_top_dockings' compound.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button class="btn btn-default btn-xs" type="submit" class="btn">
                        <span class="glyphicon glyphicon-download"></span>  Download TOP 100 dockings
                    </button>
                </form></h5>


                <h5><form action="{% url 'drugquery:download_all_dockings' compound.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button class="btn btn-default btn-xs" type="submit" class="btn">
                        <span class="glyphicon glyphicon-download"></span>  Download ALL dockings
                    </button> (takes longer)
                </form></h5>

                <br>

                <div style='height:550px; overflow:auto'>
                    <table id="dockingTable" class="tablesorter table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th><a href="">Gene</a></th>
                                <th><a href="">Pdb</a></th>
                                <th><a href="">Chain</a></th>
                                <th><a href="">Pocket</a></th>
                                <th><a href="">Score</a></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in predicted_targets %}
                                <tr>
                                    {% for cell in row %}
                                        <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% else %}
                Target predictions will become available once dockings for this compound are complete.
            {% endif %}


        </div>

        <br><br><br><br>

    </div>


    <!-- make the table sortable by column headers -->
    <script language="javascript">
        $(document).ready(function()
            {
                $("#dockingTable").tablesorter();
            }
        );
    </script>




{% endblock %}